<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optimal Inspirations</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link href="./css/sidebars.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<style>
    body {
        font-family: Helvetica, sans-serif;
    }

    .nav-item {
        padding-left: 10%;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #000000;
        font-weight: bold;
    }

    .navbar-brand {
        color: #000000;
    }

    .carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* You might also want to set a specific width for the image */
        max-height: 50%;
    }

    .carousel-caption-posinit {
        position: initial;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: #3d3030b3;
    }

    .carousel-caption {
        color: black;
    }
</style>