<!-- Start - Nav Bar -->
<div>
    <nav class="navbar navbar-expand-lg" style="border-bottom: 5px solid #FFDF00;font-family: 'montserrat';"
        data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">OPTIMAL INSPIRATIONS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left:5%">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tutorials.html">tutorials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            FAVORITES
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./fav_creations.html">CREATIONS</a></li>
                            <li><a class="dropdown-item" href="./fav_worksetups.html">Work Setups</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="./fav_other.html">Other</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">BLOG</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">SEARCH</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- End - Nav Bar -->